@font-face {
  font-family: "OTAbalos-Regular";
  src: url("./fonts/OTAbalos-Regular.otf") format("woff");
}

@font-face {
  font-family: "OTAbalos-Hairline";
  src: url("./fonts/OTAbalos-Hairline.otf") format("woff");
}

@font-face {
  font-family: "OTAbalos-Medium";
  src: url("./fonts/OTAbalos-Semibold.otf") format("woff");
}

@font-face {
  font-family: "TT-Hoves-ExtraLight";
  src: url("./fonts/TT Hoves ExtraLight.otf") format("woff");
}

@font-face {
  font-family: "TT-Hoves-Regular";
  src: url("./fonts/TT Hoves Regular.otf") format("woff");
}

@font-face {
  font-family: "TT-Hoves-Medium";
  src: url("./fonts/TT Hoves Medium.otf") format("woff");
}

@font-face {
  font-family: "TT-Hoves-Bold";
  src: url("./fonts/TT Hoves Bold.otf") format("woff");
}

@font-face {
  font-family: "TT-Hoves-SemiBold";
  src: url("./fonts/TT Hoves DemiBold.otf") format("woff");
}
